.form {
  display: grid;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  gap: 10px;

  input {
    border: 1px solid #98a957;
    outline: 0;
    border-radius: 3px;
    padding: 3px;
    max-width: 200px;
    background-color: transparent;
    color: #444;
  }
}

.input_password {
  background: transparent;
  border: 0 !important;
}

.input_password_container {
  width: 200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 3px;
  border: 1px solid #98a957;
}

.icon {
  color: #98a957;
  padding-right: 3px;
  cursor: pointer;
}

.button {
  background: #b4d044;
  border: 1px solid #98a957;
  color: #444;
  text-shadow: 0px 1px 0 #fff;
  padding: 4px 15px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
  outline: none;
  cursor: pointer;
  transition: 0.2s ease-in-out;

  &:hover {
    background: #bfde42;
  }
}
