table,
thead,
tbody,
tr,
td,
th {
  border: 1px solid #d1d1d1;
  border-collapse: collapse;
}

table {
  max-width: 600px;
  width: 100%;
  text-align: center;
  box-shadow: 0 0 10px rgba(6, 6, 6, 0.2);
  border: 1px solid #d1d1d1;
  background-color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  // padding: 0;
}

thead {
  th {
    background: #b0cb40;
    color: black;
    text-shadow: 0px 1px 0 #fff;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    padding: 4px 10px;
  }
}

tbody td {
  padding: 3px;
  text-align: center;
  color: #384802;
  font-size: 12px;
}

.btn_edit {
  margin-right: 10px;
}

.btn_edit,
.btn_delete {
  border-color: #adadad;
  background: #dedede;
  color: #3a3a3a;
  text-shadow: 0px 1px 0 #fff;
  cursor: pointer;
  outline: 0;
  border: 0;
  font-size: 10px;
  padding: 2px 6px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);

  &:focus {
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4), 0 0 4px 1px #a5c62b;
  }
}
